.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    z-index: 10;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}
.header > a > div:nth-child(1) {
    width: 40px;
    height: 40px;
    background-color: rgb(220, 220, 220);
    border-radius: 25px;
}

.nav {
    height: 100vh;
    position: fixed;
    z-index: 9;
    border-left: 3px var(--text) solid;
    left: 100%;
    width: 230px;
    background-color: var(--bg000);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(244, 244, 244);
    padding: 150px 0 80px 0px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    font-size: 22px;
    padding: 12px 0 12px 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease;
}
.nav li:hover {
    color: white;
    /* background: #0070f3; */
    background: #fd6c41;
    /* color: rgb(43, 43, 43);
    background: rgb(223, 223, 223); */
}

.header-nav-wallet {
    padding-left: 40px;
}
